.topbar {
	display: flex;
	justify-content: space-between;
	padding: 1%;
	font-weight: bold;
	border-bottom: 1px solid #a6785d;
}

.name h1 {
	display: flex;
	align-items: center;
	color: #a6785d;
	font-weight: bold;
	font-size: 60px;
}

.name a {
	text-decoration: none;
}

.name a:hover {
	text-decoration: underline;
	text-decoration-color: #a6785d;
}

#navbar a:hover {
	border-bottom: 2px solid #a6785d;
}

@media screen and (max-width: 530px) {
	.topbar {
		flex-wrap: wrap;
		justify-content: center;
	}
}
