.topbar {
    display: flex;
    justify-content: space-between;
    padding: 1%;
    font-weight: bold;
    border-bottom: 1px solid #594A3C;
}

#name {
    display: flex;
    align-items: center;
    color: #594A3C;
    font-weight: bold;
    font-size: 60px;
}

#navbar a:hover {
    border-bottom: 2px solid #594A3C;
}

@media screen and (max-width: 470px) {
    .topbar {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 1%;
        font-weight: bold;
        border-bottom: 1px solid #594A3C;
    }
}