.navbar {
    color: #594A3C;
    font-size: 20px;
}

.navbar li a {
    text-decoration: none;
    border: none;
    color:#594A3C;
}

.navbar li a:hover {
    text-decoration: underline;
    border-bottom: #594A3C;
}

@media screen and (max-width: 530px) {
    .home img {
        width: 200px;
        height: 300px;
        padding-left: 0;
    }

    .navbar {
        padding: 0;
        flex-wrap: wrap;
    }
}