.home {
    display: flex;
    padding-top: 15px;
    font-family: "Bitstream Charter", sans-serif;
}

.home img {
    width: 300px;
    height: 400px;
    padding-left: 50px;
}

.home p {
    font-size: 22px;
    color: #0D0D0C;
}

.home a {
    text-decoration: none;
    color: #594A3C;
}

.home a:hover {
    text-decoration: underline;
    color: #594A3C;
}

@media screen and (max-width: 530px) {
    .home {
        flex-wrap: wrap;
    }

    .home img {
        width: 200px;
        height: 300px;
        padding-left: 0;
    }

    #navbar {
        padding: 0;
        flex-wrap: wrap;
    }
}