.button {
    color: white;
    background-color: transparent;
    cursor: pointer;
    border: solid 2px #F93943;
    font-weight: bold;
    border-radius: 5px;
}

.button:hover {
    background-color: #F93943;
}