<!DOCTYPE html>

<%- include('../partials/header.html.ejs') %>
<%- include('../partials/navbar.html.ejs') %>

<main content="content">
    <h1>Contact page</h1>
</main>

<%- include('../partials/footer.html.ejs') %>
